@model ENTIDAD.Departamento

@{
    ViewBag.Title = "Detalle Departamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de Departamento</h2>

<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre de Departamento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreDepartamento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditarDepartamento", new { id = Model.DepartamentoId }) |
    @Html.ActionLink("Regresar", "Index")
</p>
